<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>590100544969-njn04f1lbhf7uqfe5em8fsmb68emk5d3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.590100544969-njn04f1lbhf7uqfe5em8fsmb68emk5d3</string>
	<key>API_KEY</key>
	<string>AIzaSyCH-eZMJCE6Tk3eX8D8O61SU4pLZGX45Mw</string>
	<key>GCM_SENDER_ID</key>
	<string>590100544969</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>samzack.Messanger</string>
	<key>PROJECT_ID</key>
	<string>school-chat-app-66ea6</string>
	<key>STORAGE_BUCKET</key>
	<string>school-chat-app-66ea6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:590100544969:ios:dc11b97ed8fdb88efa7c18</string>
</dict>
</plist>